
<div class="container">
<article class="wrapper">
  <section class="header">
  </section>

<div class="container">
  <section class="login container" *ngIf="!tournamentDetailsService.host">
    <form class="form-group" (submit)="hostLogin()" [formGroup]="loginForm">
        Host ID : <input class="form-control" type="text" formControlName="hostId" placeholder="Enter Host ID" ><br/>
        Password : <input class="form-control" type="password" formControlName="password" placeholder="Enter Password"> <br>
        <button class="btn btn-info form-control" type="submit">Login as host</button>
    </form>
    <br/><br/>
  </section>
  <section *ngIf="tournamentDetailsService.host">
    <button (click)="logout()">logout</button>
    <h2>Hello {{tournamentDetailsService.host.hostId}}</h2>
    <p>Your Tournaments</p>
    <div *ngIf="!tournaments.length">
      You have no running tournaments
    </div>
  </section>
</div>
  
  <div *ngFor="let tournament of tournaments;">
      <a routerLink="/tournament-details/{{tournament.id}}">Tournament no {{tournament.id}}</a>
  </div>
  
  <section *ngIf="tournamentDetailsService.host" class="Add-tournment">
    <a routerLink="new-tournament" class="btn btn-primary">Add Tournament</a>
  </section>
  <table class="table" *ngFor="let fixture of fixtures;">
    <tr>
      <td>{{fixture.id}}</td>
      <td>{{fixture.date}}</td>
      <td>{{fixture.team1}}</td>
      <td>{{fixture.team2}}</td>
      <td>{{fixture.tournamentId}}</td>
      <td>{{fixture.statusDetails}}</td>
      <td>{{fixture.status}}</td>
    </tr>
</table>
  
</article>
</div>